/*  Licensed under the EUPL */
body {
    font-family: sans-serif;
}

h1 {
    color: #202a2e;
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: -8px;
}

h2 {
    color: #606a6e;
    font-size: 1.2em;
    font-weight: 400;
    padding-left: 10px;
}

#wrapper {
    position: relative;
}

#infobox {
    opacity: 0;
    padding: 5px;
}

#infobox > svg {
    overflow: visible;
}

#quartername {
    overflow-wrap: normal;
}

#x-axis > .tick > text {
    text-anchor: start;
    transform: rotate(90deg) translate(1em, -1.25em);
}

#data-source {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 0.66em;
    color: #606a6e;
} 

#data-source > a {
    color: #606a6e;
    text-decoration: underline;
}

#info-annotation {
    font-size: 0.7em;
    font-weight: 600;
    color: #202a2e;
    margin-top: 40px;
    padding-left: 10px;
}

#info-text {
    position: relative;
    max-width: fit-content;
    text-align: center;
    text-anchor: middle;
    font-size: 0.8em;
    font-weight: 500;
    color: #606a6e;
    opacity: 1;
}

.quarter {
    fill: #ffffff;
}

.quarter:hover {
    fill: #d00000;
}

.info_missing {
    opacity: 0;
}